.jingxuanBt{
    margin-top:15px;
    .jingxuanBtTitle{
        font-size: 16px;
        text-align: center;
        line-height: 40px;
        background: #fff;
    }
    .zmoreTopPic{
        background: #fff;
    }
    .znoMore{
        font-size: 16px;
        line-height: 40px;
        text-align: center;
        color: #aaa;
    }
}