.jingxuanTop{
    background: #fff;
    .jingxuanTopImg{
        width: 100%;
    }
    .jingxuanTopText{
        padding: 3%;
        .textTitle{
            font-size:16px;
            text-align: center;
            padding-bottom: 5px;
        }
        .textContent{
            line-height: 20px;
        }
    }
    .forYou{
        text-align: center;
        font-size: 16px;
        line-height: 40px;
        background: #f0f0f0;
        margin-bottom: -10px;
    }
}