#register{
    display: flex;
    flex-direction: column;
    height: 667px;
    .title{
   
  background:#fff;
  font-size:16px;
  line-height: 42px;
  display: flex;
  color:green;
  a{flex:1;text-indent: 10px;  font-size:0.32rem;};
  span{flex:1;text-align: center;  };

}
    .content{flex:1;background: #f5f5f5;
        padding: 15% 5%;
        position: relative;
        label{
            padding: 3% 0;
            border-bottom: 1px solid #ccc;
            background: #f5f5f5;
            display: block;
            width: 100%;
            input{border: 0;background: #f5f5f5; 
            width: 50%;}
            span{display: inline-block;padding: 0px;}
            
        }
        div{
            margin-top:60px;position: relative;
            button{width: 100%;font-size: 24px;background: #7f4395;border-radius: 30px;
            outline: none;}
           h3{position: absolute;bottom:40px;font-size: 18px;
           background: #ccc;color:red;text-align: center;width: 60%;left:20%;border-radius: 10px;
           }
        }
        p{width: 100%;text-align: center;margin-top:40px;}
    
    }
    
}
